/* цвета */
@color-text-bg: #212121;
@background-block: #f3f3f3;
@background-btn: #61c0bf;
@white: #ffffff;
/*базовые стили*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html{
 font-size: 10px;
}
section{
 padding: 7rem 0;
}
header{
 padding: 1rem 0;
}
main{
 padding: 17rem 1rem;
}
menu, ul{
 list-style: none;
}
a{
 text-decoration: none;
}
footer{
 padding: 4rem;
}
/* классы */
.container{
 max-width: 1140px;
 margin: 0 auto;
}
/*слайдер slick*/
.slick-active{
 outline: none;
}
.prev{
	width: 30px;
	height: 36px;
	z-index: 99;
	border: none;
	position: absolute;
	top: 50%;
	left: -4%;
	background: url(../img/slick-img/slick-btn/prev.png)  center no-repeat;
	outline: none;
}
.next{
	width: 30px;
	height: 36px;
	z-index: 99;
	border: none;
	position: absolute;
	top: 50%;
	right: -4%;
	background: url(../img/slick-img/slick-btn/next.png)  center no-repeat;
	outline: none;
}

