/* шапка сайта */
.section-top{
 position: fixed;
 width: 100%;
 background: #fff;
 z-index: 1000;

     .header{
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 0 1rem;

         .navigation{

             .toggle-menu{
                 display: none;
             }
             &-menu{
                 display: flex;
                 
                 li{
                     margin-left: 3.5rem;
                 }
             }
         }
         
     }
}