/* шрифты */
@font-face {
  font-family: 'GothamPro-bold';
  src: url('../fonts/GothamPro-Bold.eot');
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Bold.woff2') format('woff2'), url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-light';
  src: url('../fonts/GothamPro-Light.eot');
  src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Light.woff2') format('woff2'), url('../fonts/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-reg';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.svg#GothamPro') format('svg');
  font-weight: 400;
  font-style: normal;
}
/* цвета */
/*базовые стили*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
section {
  padding-top: 5rem;
}
header {
  padding: 1rem 0;
}
/* классы */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* миксины шрифтов */
/* цвета */
/* типографика */
body {
  font-family: 'GothamPro-light', sans-serif;
  font-size: 1.6rem;
}
h1 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 2.8rem;
  text-transform: uppercase;
}
h2 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
}
h3 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
}
menu,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* навигационные сылки */
.link {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 1.8rem;
  color: #61c0bf;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
.link:before {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  display: block;
  width: 0;
  height: 0.2rem;
  background: #61c0bf;
}
.link:hover:before {
  width: 100%;
  transition: width 0.4s ease;
}
/* кнопки */
.btn-main {
  font-family: 'GothamPro-bold', sans-serif;
  padding: 16rem 17rem;
  color: #ffffff;
  font-size: 1.6rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navigation .toggle-menu {
  display: none;
}
.header .navigation-menu {
  display: flex;
}
.header .navigation-menu li {
  margin-left: 3.5rem;
}
