/* шрифты */
@font-face {
  font-family: 'GothamPro-bold';
  src: url('../fonts/GothamPro-Bold.eot');
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Bold.woff2') format('woff2'), url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-light';
  src: url('../fonts/GothamPro-Light.eot');
  src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Light.woff2') format('woff2'), url('../fonts/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-reg';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.svg#GothamPro') format('svg');
  font-weight: 400;
  font-style: normal;
}
/* цвета */
/*базовые стили*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
section {
  padding-top: 5rem;
}
header {
  padding: 1rem 0;
}
main {
  padding: 17rem 1rem;
}
menu,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* классы */
.container {
  max-width: 1140px;
  margin: 0 auto;
  overflow: auto;
}
/* миксины шрифтов */
/* цвета */
/* типографика */
body {
  font-family: 'GothamPro-light', sans-serif;
  font-size: 1.6rem;
}
/* заголовки */
h1 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 2.8rem;
}
h2 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  display: inline;
}
h3 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 2.3rem;
  text-transform: uppercase;
}
/* навигационные сылки */
.link {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 1.6rem;
  color: #61c0bf;
  text-transform: uppercase;
  position: relative;
  /* line .link*/
}
.link:before {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  display: block;
  width: 0;
  height: 0.2rem;
  background: #61c0bf;
}
.link:hover:before {
  width: 100%;
  transition: width 0.4s ease;
}
/* кнопки */
.main-btn {
  font-family: 'GothamPro-bold', sans-serif;
  padding: 1.6rem 1.7rem;
  color: #ffffff;
  background: #61c0bf;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.main-btn:hover {
  background: #ffc34b;
  transition: all 0.3s;
}
/* блок main*/
.main-subtitle {
  font-size: 1.6rem;
}
/* line h2*/
h2:before {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 0;
  height: 0.2rem;
  background: #61c0bf;
}
h2:hover:before {
  width: 100%;
  transition: width 0.4s ease;
}
.section-top {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1000;
}
.section-top .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.section-top .header .navigation .toggle-menu {
  display: none;
}
.section-top .header .navigation-menu {
  display: flex;
}
.section-top .header .navigation-menu li {
  margin-left: 3.5rem;
}
.main {
  background: #f3f3f3;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.main-content__description {
  padding-top: 8rem;
  padding-left: 6rem;
}
.main-content-img img {
  width: 80%;
}
.main-title {
  margin-bottom: 5.8rem;
}
.main-subtitle {
  margin-bottom: 5.8rem;
}
.section-groups__title {
  text-align: center;
  margin-bottom: 12rem;
}
.section-groups__content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
}
.section-groups__content .childrens-group {
  display: flex;
  padding: 40px 0;
  margin: 15px;
  width: calc(50% - 30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.section-groups__content .childrens-group:nth-child(even) {
  justify-content: flex-end;
}
.section-groups__content .childrens-group img {
  width: 10rem;
  height: auto;
  margin: 0 3rem;
}
.section-groups__content .childrens-group-description {
  width: 204px;
}
.section-groups__content .childrens-group-description__title {
  margin-bottom: 1rem;
}
.section-groups__content .childrens-group-description__subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.section-value__title {
  text-align: center;
  margin-bottom: 15rem;
}
.section-value-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-value-content__box {
  padding: 2rem 8rem 10rem 8rem;
  text-align: center;
}
.section-value-content__box .title {
  margin: 4rem 0;
}
.section-value-content__box .description {
  width: 220px;
  font-size: 1.8rem;
}
