/* шрифты */
@font-face {
  font-family: 'GothamPro-bold';
  src: url('../fonts/GothamPro-Bold.eot');
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Bold.woff2') format('woff2'), url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-light';
  src: url('../fonts/GothamPro-Light.eot');
  src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro-Light.woff2') format('woff2'), url('../fonts/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-reg';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.svg#GothamPro') format('svg');
  font-weight: 400;
  font-style: normal;
}
/* цвета */
/*базовые стили*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
section {
  padding: 7rem 0;
}
header {
  padding: 1rem 0;
}
main {
  padding: 17rem 1rem;
}
menu,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
footer {
  padding: 4rem;
}
/* классы */
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/*слайдер slick*/
.slick-active {
  outline: none;
}
.prev {
  width: 30px;
  height: 36px;
  z-index: 99;
  border: none;
  position: absolute;
  top: 40%;
  left: -3%;
  background: url(../img/slick-img/slick-btn/prev.png) center no-repeat;
  outline: none;
}
.next {
  width: 30px;
  height: 36px;
  z-index: 99;
  border: none;
  position: absolute;
  top: 40%;
  right: -2.5%;
  background: url(../img/slick-img/slick-btn/next.png) center no-repeat;
  outline: none;
}
/* миксины шрифтов */
/* цвета */
/* типографика */
body {
  font-family: 'GothamPro-reg', sans-serif;
  font-size: 1.6rem;
}
/* заголовки */
h1 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 2.8rem;
}
h2 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  display: inline;
}
h3 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 2.3rem;
  text-transform: uppercase;
}
/* навигационные сылки */
.link {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 1.6rem;
  color: #61c0bf;
  text-transform: uppercase;
  position: relative;
  /* line .link*/
}
.link:before {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  display: block;
  width: 0;
  height: 0.2rem;
  background: #61c0bf;
}
.link:hover:before {
  width: 100%;
  transition: width 0.4s ease;
}
/* кнопки */
.main-btn {
  font-family: 'GothamPro-bold', sans-serif;
  padding: 1.6rem 1.7rem;
  color: #ffffff;
  background: #61c0bf;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.main-btn:hover {
  background: #ffc34b;
  transition: all 0.3s;
}
/* блок main*/
.main-subtitle {
  font-size: 1.6rem;
}
/* line h2*/
h2:before {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 0;
  height: 0.2rem;
  background: #61c0bf;
}
h2:hover:before {
  width: 100%;
  transition: width 0.4s ease;
}
/* шапка сайта */
.section-top {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 1000;
}
.section-top .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.section-top .header .navigation .toggle-menu {
  display: none;
}
.section-top .header .navigation-menu {
  display: flex;
}
.section-top .header .navigation-menu li {
  margin-left: 3.5rem;
}
.section-top {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.section-top .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.section-top .header .navigation .nav-menu-active {
  left: 0;
}
.section-top .header .navigation .nav-menu-active li {
  margin-bottom: 25px;
}
.section-top .header .navigation .nav-menu-active a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
.main {
  background: #f3f3f3;
}
.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
}
.main-content__description {
  padding-top: 5rem;
  padding-left: 6rem;
}
.main-title {
  margin-bottom: 5.8rem;
}
.main-subtitle {
  margin-bottom: 5.8rem;
}
.section-groups__title {
  text-align: center;
  margin-bottom: 12rem;
}
.section-groups__content {
  display: flex;
  flex-wrap: wrap;
}
.section-groups__content .childrens-group {
  display: flex;
  padding: 40px 0;
  margin: 15px;
  width: calc(50% - 30px);
  border-radius: 2rem;
}
.section-groups__content .childrens-group:hover {
  box-shadow: 0px 0px 36px 0px rgba(13, 13, 13, 0.57);
  transition: all 0.7s;
}
.section-groups__content .childrens-group:nth-child(even) {
  justify-content: flex-end;
}
.section-groups__content .childrens-group img {
  width: 10rem;
  height: auto;
  margin: 0 3rem;
}
.section-groups__content .childrens-group-description {
  width: 204px;
}
.section-groups__content .childrens-group-description__title {
  margin-bottom: 1rem;
}
.section-groups__content .childrens-group-description__subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.section-value {
  background: #f3f3f3;
}
.section-value__title {
  text-align: center;
  margin-bottom: 15rem;
}
.section-value-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-value-content__box {
  padding: 2rem 8rem 10rem 8rem;
  text-align: center;
}
.section-value-content__box .title {
  margin: 4rem 0;
}
.section-value-content__box .description {
  width: 220px;
  font-size: 1.8rem;
}
/* блок events слайдер*/
.section-events__title {
  text-align: center;
  margin-bottom: 12rem;
}
.section-events-content {
  position: relative;
}
.section-events-content__box {
  text-align: center;
}
.section-events-content__box .title {
  font-family: 'GothamPro-bold', sans-serif;
  margin-bottom: 1.4rem;
  font-size: 2.4rem;
}
.section-events-content__box .subtitle {
  font-family: 'GothamPro-light', sans-serif;
  margin-bottom: 9rem;
}
.section-events-content__box .description {
  font-family: 'GothamPro-light', sans-serif;
  width: 80%;
  height: 4.3rem;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 1.5rem;
}
.section-events-content__box img {
  margin-top: 7rem;
  margin-left: 0.2rem;
}
/* блок отзывы слайдер*/
.section-reviews__title {
  text-align: center;
  margin-bottom: 8rem;
}
.section-reviews-content__box {
  text-align: center;
}
.section-reviews-content__box img {
  margin-bottom: 3rem;
  margin-left: 0.2rem;
}
.section-reviews-content__box .title {
  font-family: 'GothamPro-bold', sans-serif;
  margin-bottom: 2rem;
  font-size: 2.4rem;
}
.section-reviews-content__box .subtitle {
  margin-bottom: 4rem;
}
.section-reviews-content__box .description {
  font-family: 'GothamPro-light', sans-serif;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: 1.4rem;
}
/*подвал страницы*/
.footer {
  background: #212121;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-content__box {
  color: #ffffff;
}
.footer-content__box .title {
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
}
.footer-content__box .list li {
  font-family: 'GothamPro-light', sans-serif;
  margin-bottom: 1rem;
  color: #f3f3f3;
  font-size: 1.2rem;
}
.footer-content__box:first-child .footer-icon {
  display: flex;
  align-items: center;
}
.footer-content__box:first-child .footer-icon img {
  margin-right: 1.4rem;
}
.footer-content__box:first-child .footer-icon span {
  font-size: 1.2rem;
}
.footer-content__box:first-child .footer-icon:nth-child(-n+3) {
  margin-bottom: 1.5rem;
}
/* медиа запросы (адаптивность)*/
@media (max-width: 1120px) {
  .section-events-content__box img {
    margin-left: 0;
  }
}
@media (max-width: 989px) {
  .main-content {
    margin-top: 5rem;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .main-content__description {
    padding: 0;
  }
  .main-content__description .main-title {
    margin-bottom: 2rem;
    font-size: 3.5rem;
  }
  .section-events__title,
  .section-reviews__title {
    margin-bottom: 10rem;
  }
  .section-events-content__box .subtitle {
    margin-bottom: 3rem;
  }
  .section-events-content__box .description {
    margin-bottom: 2rem;
  }
  .section-events-content__box img {
    margin: 0 auto;
  }
  .section-reviews-content__box img {
    margin: 0 auto;
  }
}
@media (max-width: 760px) {
  .section-top .header .navigation > .toggle-menu {
    display: block;
  }
  .navigation-menu {
    transition: all 0.7s;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -100vw;
  }
  .menu-active {
    left: 0;
  }
  .menu-active li {
    margin-bottom: 25px;
  }
  .menu-active a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
