@import "fonts.less";
@import "basic_styles.less";
@import "typography.less";
@import "header.less";
@import "footer.less";

.section-top{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 1000;

        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;

            .navigation{

                .toggle-menu{
                    display: none;
                }
                &-menu{
                    display: flex;
                    
                    li{
                        margin-left: 3.5rem;
                    }
                }
            }
            
        }
}
.main{
    background: @background-block;
        &-content{
            display: flex;
            justify-content: space-between;
            margin-top: 15rem;

            &__description{
                padding-top: 8rem;
                padding-left: 6rem;
                 }
            &-img{
               img{
                   width: 80%;
               }
            }
        }
    &-title{
        margin-bottom: 5.8rem;
    }
    &-subtitle{
        margin-bottom: 5.8rem;
    }
    
}
.section-groups{

    &__title{
        text-align: center;
        margin-bottom: 12rem;
    }

    &__content{
        display: flex;
        flex-wrap: wrap;
        padding: 0 2rem;

        .childrens-group{
            display: flex;
            padding: 40px 0;
            margin: 15px;
            width: calc(50% - 30px);
            -webkit-transition: .5s;
            transition: .5s;
            &:nth-child(even){
                justify-content: flex-end;
            }
            
            img{
                width: 10rem;
                height: auto;
                margin: 0 3rem;
            }
            &-description{
                width: 204px;
                &__title{
                    margin-bottom: 1rem;
                }
                &__subtitle{
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
.section-value{
    background: @background-block;

        &__title{
            text-align: center;
            margin-bottom: 15rem;
        }

        &-content{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                &__box{
                    padding: 2rem 8rem 10rem 8rem;
                    text-align: center;
                        .title{
                            margin: 4rem 0;
                        }
                        .description{
                            width: 220px;
                            font-size: 1.8rem;
                     }
                }
         }
}
/* блок events слайдер*/
.section-events{

    &__title{
      text-align: center;
      margin-bottom: 12rem;
    }
    &-content{
      position: relative;
 
      &__box{
       text-align: center;
 
        .title{
          .text-bold();
          margin-bottom: 1.4rem;
          font-size: 2.4rem;
        }
        .subtitle{
          .text-light();
          margin-bottom: 9rem;
        }
        .description{
          .text-light();
          width: 80%;
          height: 4.3rem;
          margin: 0 auto;
          font-size: 1.4rem;
          line-height: 1.5rem;
        }
        img{
         margin-top: 7rem;
         margin-left: 0.2rem;
        }
      }
    }
 }
/* блок отзывы слайдер*/
.section-reviews{

    &__title{
     text-align: center;
     margin-bottom: 8rem;
    }
     &-content{
  
       &__box{
        text-align: center;
          img{
            margin-bottom: 3rem;
            margin-left: 0.2rem;
          }
          .title{
           .text-bold();
            margin-bottom: 2rem;
            font-size: 2.4rem;
          }
          .subtitle{
           margin-bottom: 4rem;
          }
          .description{
           .text-light();
           width: 80%;
           margin: 0 auto;
           text-align: left;
           font-size: 1.4rem;
          }
       }
     }
  }
  



