@import "fonts.less";
@import "basic_styles.less";
@import "typography.less";
@import "events_box.less";
@import "reviews_box.less";


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation{

        .toggle-menu{
            display: none;
        }
        &-menu{
            display: flex;
            
            li{
                margin-left: 3.5rem;
            }
        }
    }
    
}
.main{
    background: @background-block;

        &-content{
            display: flex;
            justify-content: space-between;

            &__text{
                padding-top: 8rem;
                padding-left: 6rem;
            }
        }
    &-title{
        margin-bottom: 5.8rem;
    }
    &-subtitle{
        margin-bottom: 5.8rem;
    }
}


