@import "fonts.less";
@import "basic_styles.less";
@import "typography.less";
@import "events_box.less";
@import "reviews_box.less";


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .navigation{

        .toggle-menu{
            display: none;
        }
        &-menu{
            display: flex;
            
            li{
                margin-left: 3.5rem;
            }
        }
    }
    
}
.main{
    background: @background-block;

        &-content{
            display: flex;
            justify-content: space-between;

            &__description{
                padding-top: 8rem;
                padding-left: 6rem;
            }
            &-img{
               img{
                   width: 80%;
               }
            }
        }
    &-title{
        margin-bottom: 5.8rem;
    }
    &-subtitle{
        margin-bottom: 5.8rem;
    }
    
}
.section-groups{


    &__title{
        text-align: center;
        margin-bottom: 12rem;
    }

    &__content{
        display: flex;
        flex-wrap: wrap;
        padding: 0 2rem;

        .childrens-group{
            display: flex;
            padding: 40px 0;
            margin: 15px;
            width: calc(50% - 30px);
            -webkit-transition: .5s;
            transition: .5s;
            &:nth-child(even){
                justify-content: flex-end;
            }
            
            img{
                width: 10rem;
                height: auto;
                margin: 0 3rem;
            }
            &-description{
                width: 204px;
                &__title{
                    margin-bottom: 1rem;
                }
                &__subtitle{
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
.section-value{

    &__title{
        text-align: center;
        margin-bottom: 15rem;
    }

    &-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &__box{
                padding: 2rem 8rem 10rem 8rem;
                text-align: center;
                .title{
                    margin: 4rem 0;
                }
                .description{
                    width: 220px;
                    font-size: 1.8rem;
                }
            }
        }

}

