/* миксины шрифтов */
/* цвета */
/* типографика */
body {
  font-family: 'GothamPro-light', sans-serif;
  font-size: 1.6rem;
}
h1 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 2.8rem;
  text-transform: uppercase;
}
h2 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
}
h3 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
}
/* кнопки */
.btn-main {
  font-family: 'GothamPro-bold', sans-serif;
  padding: 16rem 17rem;
  color: #ffffff;
  font-size: 1.6rem;
}
