/* миксины шрифтов */
.text-bold(){
 font-family: 'GothamPro-bold', sans-serif;
}
.text-light(){
 font-family: 'GothamPro-light', sans-serif;
}
.text-reg(){
 font-family: 'GothamPro-reg', sans-serif;
}
/* цвета */
@color-text-bg: #212121;
@background-block: #f3f3f3;
@background-btn: #61c0bf;
@white: #ffffff;
@bnt-hover:  #ffc34b;
/* типографика */
body{
 .text-light();
 font-size: 1.6rem;
}
/* заголовки */
h1{
 .text-bold();
 font-size: 2.8rem;
}
h2{
 .text-bold();
 font-size: 3.2rem;
 text-transform: uppercase;
 position: relative;
 overflow: hidden;
 display: inline;
}
h3{
 .text-bold();
 font-size: 2.3rem;
 text-transform: uppercase;
}

/* меню */
menu, ul{
 list-style: none;
}
a{
 text-decoration: none;
}
/* навигационные сылки */
.link{
 .text-bold();
 font-size: 1.6rem;
 color: @background-btn;
 text-transform: uppercase;
 position: relative;
/* line .link*/
 &:before{
   position: absolute;
   bottom: -2px;
   left: 0;
   content: '';
   display: block;
   width: 0;
   height: 0.2rem;
   background: @background-btn;
 }
}
.link:hover:before{
  width: 100%;
  transition: width 0.4s ease;
}
/* кнопки */
.main-btn{
 .text-bold();
 padding: 1.6rem 1.7rem;
 color: @white;
 background: @background-btn;
 font-size: 1.6rem;
 text-transform: uppercase;
   &:hover{
    background: @bnt-hover;
    transition: all 0.3s;
   }
}
/* блок main*/
.main-subtitle{
 font-size: 1.6rem;
}
/* line h2*/
h2:before{
   position: absolute;
   bottom: -2px;
   left: 0;
   content: '';
   width: 0;
   height: 0.2rem;
   background: @background-btn;
}
h2:hover:before{
 width: 100%;
 transition: width 0.4s ease;
}