/* миксины шрифтов */
.text-bold(){
 font-family: 'GothamPro-bold', sans-serif;
}
.text-light(){
 font-family: 'GothamPro-light', sans-serif;
}
.text-reg(){
 font-family: 'GothamPro-reg', sans-serif;
}
/* */