/* миксины шрифтов */
/* цвета */
/* типографика */
body {
  font-family: 'GothamPro-light', sans-serif;
  font-size: 1.6rem;
}
/* заголовки */
h1 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 2.8rem;
}
h2 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 3.2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  display: inline;
}
h3 {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 2.3rem;
  text-transform: uppercase;
}
/* навигационные сылки */
.link {
  font-family: 'GothamPro-bold', sans-serif;
  font-size: 1.6rem;
  color: #61c0bf;
  text-transform: uppercase;
  position: relative;
  /* line .link*/
}
.link:before {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  display: block;
  width: 0;
  height: 0.2rem;
  background: #61c0bf;
}
.link:hover:before {
  width: 100%;
  transition: width 0.4s ease;
}
/* кнопки */
.main-btn {
  font-family: 'GothamPro-bold', sans-serif;
  padding: 1.6rem 1.7rem;
  color: #ffffff;
  background: #61c0bf;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.main-btn:hover {
  background: #ffc34b;
  transition: all 0.3s;
}
/* блок main*/
.main-subtitle {
  font-size: 1.6rem;
}
/* line h2*/
h2:before {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 0;
  height: 0.2rem;
  background: #61c0bf;
}
h2:hover:before {
  width: 100%;
  transition: width 0.4s ease;
}
